/*  -------------------------------------------------------------
    Colors
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

h1, h2, h3 {
    color: $primary-color;
}

section {
    strong {
        color: $primary-color;
    }
}

/*  -------------------------------------------------------------
    Small widgets
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.round {
    border-radius: 50%;
}
