<section class="grid-x grid-padding-x" xmlns="http://www.w3.org/1999/html">
    <div class="large-8 cell">
        <h2>What we stand for</h2>
        <p>At Nasqueron, we believe in the power of open-source software and
            the limitless possibilities it brings to the world of technology.

            As an open-source software community, we are dedicated to creating
            an <strong>inclusive and collaborative environment</strong> that fosters <strong>innovation</strong>
            and <strong>growth</strong>.</p>

        <p>Founded in 2014, Nasqueron has become a <strong>vibrant community of passionate
            individuals</strong> from diverse backgrounds, united by a shared love for software
            development and free culture. Our community members hail from all corners
            of the globe, from Africa, Europe and North America, bringing unique
            perspectives, skills, and ideas to the table.</p>

        <p>We focus on <strong>free culture, ethics and to be a positive change</strong>.
            Our software is open source while our datasources and content are freely licensed.
            We share values like respect, justice and equity.</p>
    </div>
    <div class="large-4 cell">
        <img src="/assets/img/foster-innovation.jpg" class="float-center thumbnail" height="384" width="384"/>
    </div>
</section>

<section class="grid-x grid-padding-x">
    <div class="large-4 cell">
        <img src="/assets/img/work.jpg" class="float-center thumbnail"  height="384" width="384"/>
    </div>
    <div class="large-8 cell">
        <h2>How we roll</h2>
        <p><strong>Collaboration</strong> lies at the heart of Nasqueron. We believe that <strong>great things</strong>
            happen when talented beings come together to work towards a <strong>common goal</strong>.

            Through our collaborative efforts, we want to develop and maintain a wide
            range of projects, tools, and libraries that make a <strong>significant impact
            in the software development landscape</strong>, especially in automation, software
            quality and infrastructure.</p>

        <p><strong>Openness</strong> is a fundamental principle we uphold. We are fully committed to
            open-source ideals, which means that our software is freely available,
            modifiable, and accessible to all. By promoting <strong>transparency</strong> and
            <strong>encouraging contributions from the community</strong> at large, we foster
            an environment where <strong>creativity can flourish</strong> and software can evolve
            organically.</p>

        <p><strong>Quality</strong> is of paramount importance to us. We strive for excellence
            in every aspect of our work, from the code we write to the documentation
            we provide. By prioritizing quality, we ensure that our software is <strong>robust,
            reliable, and user-friendly</strong>, delivering value to those who use it.</p>
    </div>
</section>

<section class="grid-x grid-padding-x">
    <div class="large-8 cell">
        <h2>Our culture</h2>
        <p>But it's not all work and no play at Nasqueron. We believe that software
            development should be <strong>enjoyable and fulfilling</strong>. We embrace a culture of
            fun, where creativity is celebrated, and beings are encouraged to
            bring their <strong>unique personalities and interests to their work</strong>.
            We understand that when people enjoy what they do, they produce their best work.</p>

        <p>If you are <strong>passionate</strong> about open source software,
            eager to learn, and ready to collaborate with <strong>like-minded individuals</strong>,
            we'll be happy to welcome you, as an internship at Nasqueron is an opportunity to grow
            and contribute to exciting projects.</p>

        <p>Join our community, and together, we can shape the future of software
            development while creating a <strong>friendly and welcoming space</strong> for all.</p>

        <p>Are you ready to <strong>embark on an intensive journey</strong> with Nasqueron? Come
            and be a part of our vibrant community, where your ideas and
            contributions will make <strong>a real difference</strong>.</p>
    </div>
    <div class="large-4 cell">
        <img src="/assets/img/cozy-knowledge.jpg" class="float-center thumbnail"  height="384" width="384"/>
    </div>
</section>
