<footer>
    <div class="grid-container">
        <hr />
        <div class="grid-x grid-padding-x">
            <div class="large-3 medium-6 site-description">
                <p><img src="https://assets.nasqueron.org/logos/logo-main-133px.png" width="80px" /></p>
                <p><strong>Nasqueron</strong> is a community of developers <span class="ampersand">&</span> creative people.</p>
                <hr />
                <p><strong>Join Nasqueron</strong> documents our mentoring and internship opportunities.</p>
            </div>
            <div class="large-3 medium-6 cell">
                <dl>
                    <dt>Join Nasqueron</dt>
                    <dd><a href="/">Why Nasqueron?</a></dd>
                    <dd><a href="/interns.html">Internship</a></dd>
                    <dd><a href="/mentoring.html">Mentoring</a></dd>
                    <dd><a href="/contributors.html">Open-source contributions</a></dd>
                    <dd><a href="/FAQ.html">FAQ</a></dd>
                </dl>
            </div>
            <div class="large-3 medium-6 cell">
                <dl>
                    <dt>How to contribute</dt>
                    <dd><a href="https://devcentral.nasqueron.org/home/menu/view/174/">Projects you can contribute to</a></dd>
                    <dd><a href="https://devcentral.nasqueron.org/tag/good-first-issue/">Good first issues</a></dd>
                    <dd><a href="https://agora.nasqueron.org/How_to_contribute_code">How to contribute code</a></dd>
                    <dd><a href="https://agora.nasqueron.org/Operations_grimoire">DevOps? Our Operations grimoire</a></dd>
                </dl>
            </div>
            <div class="large-3 medium-6 cell">
                <dl>
                    <dt>Contact us</dt>
                    <dd><a href="https://forms.nasqueron.org/nasqueron-join/contact/new">Application form</a></dd>
                    <dd>
                        <a href="ircs://irc.libera.chat:6697">IRC Libera #nasqueron</a>
                        (<a href="https://web.libera.chat/?channel=#nasqueron">Web chat</a>)
                    </dd>
                    <dd><a href="https://devcentral.nasqueron.org/maniphest/task/edit/form/6/">Say hello on DevCentral</a></dd>
                </dl>
            </div>
        </div>
        <div class="grid-x">
            <div class="large-12 cell"><hr />
                <div class="row extrainfos">
                    <div class="large-6 large-offset-6 columns">
                        <p class="text-right">“To the very centre of the moon.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
