<header class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-2 medium-4 small-6 cell">
            <img src="https://assets.nasqueron.org/logos/logo-main-133px.png" alt="Nasqueron">
        </div>
        <div class="large-7 medium-6 small-6 cell">
            <ul class="menu">
                <li><a href="/">About Nasqueron</a></li>
                <li><a href="/interns.html">Internship</a></li>
                <li><a href="/mentoring.html">Mentoring</a></li>
                <li><a href="/contributors.html">Open-source contributions</a></li>
                <li><a href="/FAQ.html">FAQ</a></li>
            </ul>
        </div>
        <div class="large-3 medium-2">
            <ul class="menu float-right">
                <li><a href="{{ contact.whatsapp }}"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href="https://hub.docker.com/u/nasqueron"><i class="fa-brands fa-docker"></i></a></li>
                <li><a href="https://github.com/nasqueron"><i class="fa-brands fa-github"></i></a></li>
            </ul>
    </div>
</header>
