<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} — Join Nasqueron</title>
    <link rel="preconnect" href="https://assets.nasqueron.org" crossorigin="anonymous">
    <link rel="stylesheet" href="https://assets.nasqueron.org/webfonts/css/SourceSansPro.css"><!-- Dynamic, no SRI. -->
    <link rel="stylesheet" href="https://assets.nasqueron.org/webfonts/css/PoiretOne.css"
          integrity="sha384-tfzufnt4xC3O5VBI9tDpPNndKC29v7F8O7MsR5EXSi1IPH8wurnYNCH4U4sJ/t11"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="https://assets.nasqueron.org/lib/fontawesome/6.4.0/css/fontawesome.min.css"
          integrity="sha384-bGIKHDMAvn+yR8S/yTRi+6S++WqBdA+TaJ1nOZf079H6r492oh7V6uAqq739oSZC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://assets.nasqueron.org/lib/fontawesome/6.4.0/css/brands.min.css"
          integrity="sha384-2ExAXhxetFPlyL5ZypKQbz0ZrD6S0xW1jF2n+bGda67tIfsjcfHQy3FkuA1IjuxK" crossorigin="anonymous">
</head>
<body>

{{> header}}
{{> body}}
{{> footer}}

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
